<div class="container">
    <div class="row mt-3 bg-light">
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3">
            <div class="row">
                <button id="btnDelete" type="button" class="btn" (click)="delete()">
                    <img src="../../assets/img/papelera.png" alt="Eliminar actividad">
                </button>
            </div>
            <div class="row">
                <button id="btnModify" type="button" class="btn" (click)="modify()">
                  <img src="../../assets/img/lapiz.png" alt="Modificar actividad">
                </button>
            </div>
        </div>
    </div>
</div>